.section-title {
    color: #C5C6C7;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 36px;
}

.paragraph {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    color: #45A29E;
    margin: auto;
    width: 50%;
    height: auto;
    font-weight: lighter;
    font-size: 40px;
    padding-top: 25px;
}

/* Media Queries */
@media (max-width: 767px) {
    .paragraph {
        width: 80%;
        font-size: 30px;
        padding-top: 15px;
    }
}

@media (max-width: 479px) {
    .paragraph {
        width: 90%;
        font-size: 24px;
        padding-top: 10px;
    }
}