.main-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: auto;*/
    margin-top: 6%;
    margin-left: 140px;
}

.number-container {
    display: flex;
    /*border: 1px black solid;*/
    width: 27%;
    align-items: center;
    justify-content: center;
    padding-right: 80px;
}

.info-container {
    display: flex;
    /*border: 1px black solid;*/
    width: 40%;
    height: auto;
    align-items: center;
    justify-content: center;
}

.number-text {
    font-family: 'Cormorant Garamond', serif;
    color: #C5C6C7;
    width: auto;
    height: auto;
    font-weight: lighter;
    font-size: 40px;
}

.info-text {
    font-family: 'Cormorant Garamond', serif;
    color: #45A29E;
    width: auto;
    height: auto;
    font-weight: lighter;
    font-size: 30px;
}

.list-container {
    color: #C5C6C7;
    margin-left: 60px;
    margin-top: 10px;
}

/* Media Queries */
@media (max-width: 767px) {
    .main-container {
        flex-direction: column;
        margin-left: 5%;
    }

    .number-container, .info-container {
        width: 90%;
        padding-right: 0;
        margin-top: 20px;
    }

    .number-text {
        font-size: 30px;
    }

    .info-text {
        font-size: 24px;
    }

    .list-container {
        margin-left: 20px;
    }
}

@media (max-width: 479px) {
    .main-container {
        margin-left: 2%;
    }

    .number-text, .info-text {
        font-size: 20px;
    }

    .list-container {
        margin-left: 10px;
    }
}

