.navbar {
    /*padding-top: 50px;*/
    padding-top: 3%;
    padding-right: 2%;
}

.navbar-collapse {
    /*padding-left: 1220px;*/
    padding-left: 65%;
}

/*.navbar-expand-lg {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-right: 10%;*/
/*}*/

.collapsed-nav {
    color: #66FCF1;
    border: none;
}

.collapsed-nav:hover {
    color: #C5C6C7;
    border: none;
}

.drp-menu {
    /*padding-left: 20px;*/
    padding-left: 12%;
}

.dropdown-menu.show {
    background: none;
}

.dropdown-menu.show a {
    color: #C5C6C7;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    /*padding-left: 35px;*/
    padding-left: 15%;
    transition: all .2s ease-in-out;
}
.dropdown-menu.show a:hover {
    color: #66FCF1;
    background: none;
    transform: scale(1.05);
}

.dropdown-item.active {
    background: transparent;
}

.brand {
    color: #66FCF1;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    /*padding-left: 240px;*/
    padding-left: 12%;
}
.brand:hover {
    display: none;
}

.nav-link {
    color: #C5C6C7;
    font-family: 'Cormorant Garamond', serif;
    font-size: 22px;
    /*padding-bottom: 3px;*/
    padding-bottom: 1%;
    outline: none;
}
.nav-link:hover {
    color: #66FCF1;
}

/* Media Queries */
@media (max-width: 767px) {
    .navbar {
        padding: 5% 3%;
    }

    .navbar-collapse {
        padding-left: 0%;
    }

    .brand {
        font-size: 24px;
        padding-left: 5%;
    }

    .nav-link {
        font-size: 18px;
        padding-bottom: 2%;
        padding-left: 5%;
    }

    .drp-menu {
        padding-left: 0%;
    }

    .dropdown-menu.show a {
        padding-left: 8%;
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    .navbar {
        padding: 5% 3%;
    }

    .brand {
        font-size: 20px;
        padding-left: 3%;
    }

    .nav-link {
        padding-left: 2%;
        font-size: 16px;
    }

    .drp-menu {
        padding-left: 0%;
        font-size: 16px;
    }

    .dropdown-menu.show a {
        padding-left: 5%;
        font-size: 16px;
    }
}
